.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found h1 {
  font-size: 36px;
  margin: 0;
}

.not-found p {
  font-size: 14px;
  margin: 20px 0 0;
}

.Dog-logo {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
}

.profile-images {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 20px;
}

.card {
  margin: 2rem 0;
}

.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-link {
  display: inline-block;
  /* padding: 10px 20px; */
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
  display:flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 80px;
  padding-bottom: 10px;
}

.nav-link:hover {
  background-color: #eee;
}

.header-nav.nav{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;

}
.Logo {
  /* display:flex;
  align-items: center;
  justify-content: center; */
  padding-left: 25%;
  padding-right: 25%;
}

.NavBar {
 display: flex;
 padding-left: 25%;
}

.dog-show-cards{
  display:flex;
justify-content: center;
text-align: center;
} 
.profilePic {
  height: auto;
  width: 450px;
}

.cardBody{
  text-align: center;
  font-size: 24px;
  padding: 0;
}
.createForm {
  width: 100px;
}
.row {
width: 100px;
}

.card card-body border-dark{
  border: 2px solid black;
}
.indCard{
  border: 2px solid black;   

}
.btn{
 display: flex;
 padding-top: 10px;
}